services:
  app:
    image: todo-frontend-dev
    build:
      context: .
      dockerfile: dev.Dockerfile
    volumes:
     - ./:/usr/src/app
    ports:
      - 3003:3001
    container_name: todo-frontend-dev